html,body{
    height:100%;
}

.container__nav {
    border: 1px solid red;
}

.container__page {
    border: 2px solid orange;
}


.container__content {
    border: 2px solid blue;
}

.container__sidebar {
    border: 1px solid red;
}

.container__main {
    border: 1px solid red;
}
